
    <div class="c-about anim anim--up">
        <div class="o-wrap">
            <div class="o-section">
                
                <article class="o-article">
                    <h4>Om os </h4>
                    <p><strong>NORDYJSK TRANSPORTEMBELLAGE</strong> beskæftiger sig med produktion og forsendelse af produkter som: kiler, paller, trækasser, låg, flaps og mellemlæg. Vi har været aktive på det danske marked i årevis. Vi har stor erfaring og dygtige medarbejdere, hvilket betyder, at vi kan yde service på højeste niveau.</p>
                    
                    <p>FSC er en international non-profit mærkningsordning til træ og papir. FSC hverken producerer eller sælger varer. Du finder FSC-mærket på produkter af træ og papir, som du kan købe med god samvittighed.</p>

                    <p>Det kan du, fordi der i en FSC-skov ikke bliver fældet mere træ, end skoven kan nå at reproducere. Samtidig er FSC en sikkerhed for, at dyr og planteliv bliver beskyttet, og at de mennesker, der arbejder i skoven, er uddannede og får ordenlig sikkerhedsudstyr og løn.</p>
                    
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/917pnQrog9g?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
                    <ul>
                        <li>Højeste kvalitet af produkter og service</li>
                        <li>Tilfredshed og garanti</li>
                        <li>Konkurrencedygtige priser</li>
                    </ul>
                    
                    <% include sticker %>
                    
                    <h4>FSC i tal</h4>
                    
                    <p>r. 6. september 2018 var<br>
                        201,7 mio. ha skov FSC-certificeret<br>
                        34.133 virksomheder FSC-CoC-certificerede (Chain-of-Custody)<br>
                        1.595 skovejendomme FSC-FM-certificerede (Forest Management)</p>
                </article>

            </div>
        </div>
    </div>
