
    <div class="c-categories c-categories--info bg-gray">
        <div class="o-wrap">
            <div class="c-grid">
                
                <div class="c-grid__item anim anim--delay1 anim--up">
                    <article>
                        <h4 class="o-lead o-lead--second underline">Mellemlæg</h4>
                        <h5 class="o-lead o-lead--third">Antal tilgængelige produkter: <strong>14</strong></h5>
                            
                        <p>Grundlæggende information: Ved at anvende mellemlæg på pallen, kan du let organisere og sikre cylindriske elementer, som f.eks. rør, valser etc., under transport eller under oplagring, hvilket begrænser bevægeligheden og eliminerer fysisk kontakt. Mellemlæg sikrer passende og jævn afstand imellem elementerne. De muliggør stabling i større højder.</p>
                    </article>
                    
                    <div class="o-more alignright">
                        <a href="categories.html" class="o-btn o-btn--minor o-btn--brown">Vis produkter</a>
                    </div>
                </div>
                
                <div class="c-grid__item anim anim--delay2 anim--up">
                    <article>
                        <h4 class="o-lead o-lead--second underline">Plade / bund til palle</h4>
                        <h5 class="o-lead o-lead--third">Antal tilgængelige produkter: <strong>2</strong></h5>
                            
                        <p>Grundlæggende information: Forhindrer at små dele kan falde igennem mellemrummene mellem pallens brædder. Beskytter godset på pallen imod tilsmudsning eller vand fra pallens underside.</p>
                    </article>
                    
                    <div class="o-more alignright">
                        <a href="categories.html" class="o-btn o-btn--minor o-btn--brown">Vis produkter</a>
                    </div>
                </div>
                
                <div class="c-grid__item anim anim--delay3 anim--up">
                    <article>
                        <h4 class="o-lead o-lead--second underline">Låg / flaps</h4>
                        <h5 class="o-lead o-lead--third">Antal tilgængelige produkter: <strong>2</strong></h5>
                            
                        <p>Grundlæggende information: Låg til pallerammer / bure sikrer godset imod beskadigelse fra toppen. Det reducerer uønskede personers muligheder for let at trække produkter ud. Det forstærker rammen ved at fordele vægten, med henblik på stabling i flere højder.</p>
                    </article>
                    
                    <div class="o-more alignright">
                        <a href="categories.html" class="o-btn o-btn--minor o-btn--brown">Vis produkter</a>
                    </div>
                </div>


                <div class="c-grid__item anim anim--delay1 anim--up">
                    <article>
                        <h4 class="o-lead o-lead--second underline">Kiler</h4>
                        <h5 class="o-lead o-lead--third">Antal tilgængelige produkter: <strong>14</strong></h5>
                            
                        <p>Grundlæggende information: Let og hurtig montage med søm eller skruer, ideel løsning til sikring af cylindre, for at forhindre, at de flytter sig under transporten eller på lageret. Kan ligeledes anvendes som dørstøtte eller til sikring af hjul ved parkering af vogne, trailere og lignende.</p>
                    </article>
                    
                    <div class="o-more alignright">
                        <a href="categories.html" class="o-btn o-btn--minor o-btn--brown">Vis produkter</a>
                    </div>
                </div>
                
                <div class="c-grid__item anim anim--delay2 anim--up">
                    <article>
                        <h4 class="o-lead o-lead--second underline">Paller</h4>
                        <h5 class="o-lead o-lead--third">Antal tilgængelige produkter: <strong>2</strong></h5>
                            
                        <p>Grundlæggende information: Ved hjælp af paller kan du hurtigt og let transportere eller oplagre varer. Pallernes standardmål er tilpasset hovedparten af lastbiltrailere, transportvogne, reoler, etc. Som følge heraf giver det besparelser af plads, tid og penge. Til standardpaller kan også anvendes yderligere tilbehør, som f.eks. pallerammer, mellemlæg, </p>
                    </article>
                    
                    <div class="o-more alignright">
                        <a href="categories.html" class="o-btn o-btn--minor o-btn--brown">Vis produkter</a>
                    </div>
                </div>
                
                <div class="c-grid__item anim anim--delay3 anim--up">
                    <article>
                        <h4 class="o-lead o-lead--second underline">Opdelinger</h4>
                        <h5 class="o-lead o-lead--third">Antal tilgængelige produkter: <strong>2</strong></h5>
                            
                        <p>Grundlæggende information: Opdelinger på pallen gør det muligt at separere varer med henblik på at spare plads på lageret eller under transport. De begrænser fysisk kontakt mellem undergrupper af varer, og forhindrer beskadigelse og at varerne blandes.</p>
                    </article>
                    
                    <div class="o-more alignright">
                        <a href="categories.html" class="o-btn o-btn--minor o-btn--brown">Vis produkter</a>
                    </div>
                </div>


                <div class="c-grid__item anim anim--delay1 anim--up">
                    <article>
                        <h4 class="o-lead o-lead--second underline">Pallerammer / Bure</h4>
                        <h5 class="o-lead o-lead--third">Antal tilgængelige produkter: <strong>2</strong></h5>
                            
                        <p>Grundlæggende information: Pallerammer er en meget praktisk og økonomisk form for pakkeelement til gentagen anvendelse. Den stive konstruktion beskytter efter monteringen varer imod mekaniske skader. De sparer plads på lageret og under transport, gennem en forøgelse af pallernes indhold. De giver mulighed for lagring i mange niveauer.</p>
                    </article>
                    
                    <div class="o-more alignright">
                        <a href="categories.html" class="o-btn o-btn--minor o-btn--brown">Vis produkter</a>
                    </div>
                </div>
                
                <div class="c-grid__item anim anim--delay2 anim--up">
                    <article>
                        <h4 class="o-lead o-lead--second underline">Budowa skrzyń</h4>
                        <h5 class="o-lead o-lead--third">Antal tilgængelige produkter: <strong>2</strong></h5>
                            
                        <p>Tekst do uzupelnienia</p>
                    </article>
                    
                    <div class="o-more alignright">
                        <a href="categories.html" class="o-btn o-btn--minor o-btn--brown">Vis produkter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
