
                <div class="c-contactform">
                    <h3 class="o-lead o-lead--first">Skriv til os</h3>
                    
                    <form action="#">
                        <div class="form-row">
                            <div class="form-group">
                                <input type="text" placeholder="Fornavn">
                            </div>
                            
                            <div class="form-group">
                                <input type="email" placeholder="E-mail">
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="form-group">
                                <input type="text" placeholder="Firmanavn">
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="form-group">
                                <textarea placeholder="Besked"></textarea>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="form-group">
                                <button type="submit" class="o-btn o-btn--medium o-btn--green">
                                    <span>Send besked</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
