
    <footer class="c-footer anim anim--up" id="contact">
        <div class="o-wrap">
            <div class="o-section o-section--big">

                <div class="c-footer__address">
                    <p>
                        <strong>KONTAKT</strong><br>
                        daniel.krysztofiak@hotmail.com<br>
                        TEL: + 45 60 90 19 71
                    </p>

                    <p>                    
                        <strong>VORES KONTOR</strong><br>
                        Christiansgade 6<br>
                        9760 Vrå<br>
                        DANMARK
                    </p>

                    <p>
                        <strong>Værksted</strong><br>
                        Tøttrupvej 53<br>
                        9760 Vrå
                    </p>
                </div>
                
                <% include contactform %>
                
            </div>
        </div>
    </footer>
