
            <nav class="c-nav js-nav">
                <ul class="c-nav__menu js-menu">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    
                    <li class="menu-item-has-children">
                        <a href="#">Produkter</a>
                        
                        <ul>
                            <li>
                                <a href="categories.html">Mellemlæg</a>
                            </li>
                            
                            <li>
                                <a href="categories.html">Plade / bund til palle</a>
                            </li>
                            
                            <li>
                                <a href="categories.html">Låg / flaps</a>
                            </li>
                            
                            <li>
                                <a href="categories.html">Kiler</a>
                            </li>
                            
                            <li>
                                <a href="categories.html">Paller</a>
                            </li>
                            
                            <li>
                                <a href="categories.html">Opdelinger</a>
                            </li>
                            
                            <li>
                                <a href="categories.html">Pallerammer / Bure</a>
                            </li>
                            
                            <li>
                                <a href="categories.html">Budowa skrzyń</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#">Billedgalleri</a>
                    </li>
                    
                    <li class="js-goto">
                        <a href="#contact">Kontakt</a>
                    </li>
                </ul>
            </nav>
