
    <div class="c-slider">            
        <div class="glide" id="homeCarousel">
            <div class="glide__track" data-glide-el="track">

                <ul class="glide__slides">
                    <li class="glide__slide">
                        <div class="o-wrap">
                            <div class="c-slider__text">
                                <article>
                                    <p>Jakiś fajny <strong>slogan</strong></p>
                                    <p>z <strong>ciekawym</strong> przesłaniem</p>                                    
                                </article>
                                
                                <% include sticker %>
                            </div>
                            
                            <img src=<%= require("./img/photos/slider.png") %> alt="" width="1110" height="630">
                        </div>
                    </li> 
                    
                    <li class="glide__slide">
                        <div class="o-wrap">
                            <div class="c-slider__text">
                                <article>
                                    <p>Jakiś fajny <strong>slogan</strong></p>
                                    <p>z <strong>ciekawym</strong> przesłaniem</p>                                    
                                </article>
                                
                                <% include sticker %>
                            </div>
                            
                            <img src=<%= require("./img/photos/slider.png") %> alt="" width="1110" height="630">
                        </div>
                    </li> 
                    
                    <li class="glide__slide">
                        <div class="o-wrap">
                            <div class="c-slider__text">
                                <article>
                                    <p>Jakiś fajny <strong>slogan</strong></p>
                                    <p>z <strong>ciekawym</strong> przesłaniem</p>                                    
                                </article>
                                
                                <% include sticker %>
                            </div>
                            
                            <img src=<%= require("./img/photos/slider.png") %> alt="" width="1110" height="630">
                        </div>
                    </li>                                                             
                </ul>
            </div>
        </div>
    </div>
