
                    <div class="o-sticker">
                        <ul>
                            <li>100%</li>
                            <li><span>Sikkerhed og kvalitet</span></li>
                            <li>Hos NTE tilstræber vi<br> fejlfri produkter<br> af høj kvalitet</li>
                        </ul>
                    </div>
