
    <div class="c-top js-top">
        <div class="o-wrap">
            <a href="index.html" class="o-logo">
                <img src=<%= require("./img/assets/logo.svg") %> width="446" height="104" alt="Nordjysk Transportemballage">
            </a>
            
            <% include nav %>
            
            <nav class="c-lang">
                <ul>
                    <li>
                        <a href="#">
                            <img src=<%= require("./img/assets/flags/dk.svg") %> alt="dk" width="23" height="13">
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <img src=<%= require("./img/assets/flags/pl.svg") %> alt="pl" width="23" height="13">
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <img src=<%= require("./img/assets/flags/en.svg") %> alt="en" width="23" height="13">
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="o-hamburger js-hamburger"></div>
        </div>
    </div>
