html:not(.ie) {
    .anim {
    
        &--delay1 {
            transition-delay: 150ms;
        }
        
        &--delay2 {
            transition-delay: 250ms;
        }
        
        &--delay3 {
            transition-delay: 350ms;
        }
        
        &--delay4 {
            transition-delay: 450ms;
        }

        transition: all 600ms ease-out;
        opacity: 0;
        
        
        
        &--left {
            transform: translate3d(-50px, 0, 0);
        }
        
        &--right {
            transform: translate3d(50px, 0, 0);
        }
        
        &--scale {
            transform: scale3d(0, 1, 1);
        }
        
        &--up {
            transform: translate3d(0, 50px, 0);
        }
        
        &--visible {
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            opacity: 1;
        }
    }
}


.is-hidden {
    display: none;
}



// Text

.alignright {
    text-align: right;
    
    @media ( min-width: $tablet_portrait + 1px ) {
        float: right;
        margin: 0 0 40px 40px;    	
    }
    
    @media ( max-width: $tablet_portrait + px ) {
    	margin: 0 auto 40px auto;
    }
    
    @media ( max-width: $smartphone_portrait + px ) {
        margin-bottom: 20px;
    }
}

.text-center {
    text-align: center;
}

.color-primary {
    color: var(--primary-color);
}

.u-cover {
    transition: all 500ms ease-out;
    opacity: 1;
    
    .is-loaded & {
        opacity: 0;
    }
}

.underline {
    border-bottom: 5px solid $c-brown-02;
}


// Backgrounds

.bg-gray {
    background-color: $c-gray-01;
}

