.o-header {
    padding: 40px 0 20px 0;
    
    @media ( max-width: $smartphone + px ) {
    	flex-direction: column;
    }
    
    &--withback {
        @extend %flex;
        align-items: baseline;
    }

    h1 {
        @extend %lead--second;
        min-width: 280px;
        display: inline-block;
        border-bottom: 5px solid $c-black-01;
        
        span {
            text-transform: none;
        }
    }
    
    .back {
        font-weight: $bold;
        
        @media ( min-width: $smartphone + 1px ) {
        	margin: 0 0 0 auto;
        }
    
        &:before {
            margin: 0 5px 0 0;
            vertical-align: middle;
            font: {
                family: $icomoon;
            }
            content: "\e901";
        }
        
        &:hover {
            .desktop & {
                span {
                    text-decoration: underline;
                }
            }
        }
    }
}
