.c-lang {
    @extend %abs;
    right: 0; top: 10px;
    
    @media ( max-width: $base + px ) {
    	right: 30px;
    }
    
    @media ( max-width: $tablet_portrait + px ) {
    	right: 20px;
    }
    
    ul {
        @extend %flex;
        
        li {
            &:not(:first-child) {
                margin-left: 5px;
            }
        }
    }
}
