.c-orderform {
    input[type=text],
    input[type=email],
    textarea {
        background-color: white;
        font-size: rem(18);
    }
    
    .form-group {
        padding: 0 5px;
        
        &--select {
            flex: 100px 0 0;
        }
    }
    
    .form-row {
        margin: 0 -5px;
        
        &--submit {
            .form-group {
                &:last-of-type {
                    .o-btn {
                        margin: 0 0 0 auto;
                    }
                }
            }
        }
    }
    
    [class^="icon-"] {
        margin-right: 5px;
    }
}