.c-product {
    
    &__details {
        margin-bottom: 30px;
        text-align: left;
        
        th {
            padding-right: 30px;
            font-weight: $bold;
        }
        
        th, td {
            padding: {
                top: 5px;
                bottom: 5px;
            }
        }
    }
    
    .o-article {
        margin-bottom: 40px;
    }

    .o-cols {
        @media ( min-width: $tablet_portrait + 1px ) {
            width: calc(100% + 20px);
            margin: 0 -10px;
        }
        
        @media ( max-width: $tablet_portrait + px ) {
    	    flex-direction: column-reverse;
        }
        
        &__item {
            @media ( min-width: $tablet_portrait + 1px ) {
                padding: 0 10px;
            }
            
            @media ( max-width: $tablet_portrait + px ) {
                width: 100%;
            }
        }
        
        @media ( max-width: $tablet_portrait + px ) {
        	flex-wrap: wrap;
        }
        
            
            
    }
    
    .o-wrap {
        .o-wrap {
            @media ( max-width: $tablet + px ) {
            	padding: 0;
            }
        }
    }
}