.c-single {
    
    .o-article {
        font-weight: $regular;
    }
    
    .o-section {
        
        @media ( min-width: $smartphone_portrait + 1px ) {
	        padding-top: 20px;
        }
    }
    
    .o-wrap {
        .o-wrap {
            @media ( max-width: $tablet + px ) {
            	padding: 0;
            }
        }
    }
}
