<% include ./src/includes/head %>

    <% include ./src/includes/top %>

    <div class="o-container">
        
    <div class="c-single">
        <div class="o-wrap">
            <header class="o-header o-header--withback">
                <h1>Nazwa podstrony</h1>
                
                <a href="javascript:history(-1)" class="back"><span>Tilbage</span></a>
            </header>
            
            <div class="o-section">
                <div class="o-wrap">
                    <article class="o-article">
                        
                        <img src=<%= require("./img/photos/product.jpg") %> alt="" width="480" height="380" class="alignright">
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum mauris venenatis malesuada iaculis. Aliquam nulla velit, egestas ac sollicitudin id, luctus non urna. In eu dui rutrum mi faucibus efficitur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc pharetra bibendum mauris vel vehicula. Morbi ultrices orci nibh, nec laoreet sem vulputate at.</p>
                        
    <p>Praesent consectetur vitae leo a sodales. Nulla consectetur tortor nec mauris luctus, non pellentesque velit aliquet. Sed non ex placerat turpis placerat aliquet. Vestibulum sodales dignissim justo, in malesuada ex molestie et. Nullam at lectus ac felis tincidunt faucibus sit amet a lorem.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum mauris venenatis malesuada iaculis. Aliquam nulla velit, egestas ac sollicitudin id, luctus non urna. In eu dui rutrum mi faucibus efficitur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc pharetra bibendum mauris vel vehicula. Morbi ultrices orci nibh, nec laoreet sem vulputate at.</p>
    
    <p>Praesent consectetur vitae leo a sodales. Nulla consectetur tortor nec mauris luctus, non pellentesque velit aliquet. Sed non ex placerat turpis placerat aliquet. Vestibulum sodales dignissim justo, in malesuada ex molestie et. Nullam at lectus ac felis tincidunt faucibus sit amet a lorem.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
        
    <% include ./src/includes/treatment %>
    <% include ./src/includes/footer %>
    
    </div>

</body>
</html>
