<% include ./src/includes/head %>

    <% include ./src/includes/top %>

    <div class="o-container">
        
    <% include ./src/includes/slider %>
    <% include ./src/includes/categories %>
    <% include ./src/includes/experience %>
    <% include ./src/includes/treatment %>
    <% include ./src/includes/about %>
    <% include ./src/includes/footer %>
    
    </div>

</body>
</html>
